</main>
		<p>Sources used to develop this site:</p>
	<ul>
		<li><a href="https://skillcrush.com/2012/04/03/css/">The Ultimate Guide To CSS</a></li>
		<li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript">MDN: What is JavaScript?</a></li>
		<li><a href="https://www.w3.org/standards/webdesign/htmlcss">What is HTML?</a></li>
	</ul>
<hr/>
	<footer>
		<div>
            CST336 Internet Programming. 2019&copy; Jasper Kolp <br/>
            <strong>Disclaimer: </strong>The information in this webpage is fictitious. <br/>
            It is used for academic purpose only.
            </div>

            <figure>
            	<img src="/img/csumb.png" alt="csumb_logo">
            </figure>
	</footer>
</body>
</html>