<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fullstack Development</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<meta charset="UTF-8">
</head>
<body>
	<header>
		<h1> Fullstack Web Development</h1>
		<img class="head_img" src="/img/html.png" alt="html5_logo">
		<img class="head_img" src="/img/css.png" alt="css_logo">
		<img class="head_img" src="/img/js.png" alt="js_logo">
    </header>

	<hr/>

	<nav>
		<a href="/">Home</a>
		<a href="/html">HTML</a>
		<a href="/css">CSS</a>
		<a href="/js">JS</a>
	</nav>
	<br/>
	<main>
		<div >