<% include partials/header.ejs %>

			<h2>HTML</h2>
			<p>The definition of HTML is HyperText Markup Language.</p>
				<ul>
					<li>HyperText is the method by which you move around on the web by clicking on special text called hyperlinks which bring you to the next page. The fact that it is hyper just means it is not linear i.e. you can go to any place on the Internet whenever you want by clicking on links there is no set order to do things in.</li>
					<li>Markup is what HTML tags do to the text inside them. They mark it as a certain type of text (italicised text, for example).</li>
					<li>HTML is a Language, as it has code-words and syntax like any other language.</li>
				</ul>
 			
 			<h3>How does it work?</h3>
 			<p>HTML consists of a series of short codes typed into a text file by the site author these are the tags. The text is then saved as a html file, and viewed through a browser, like Internet Explorer or Netscape Navigator. This browser reads the file and translates the text into a visible form, hopefully rendering the page as the author had intended. Writing your own HTML entails using tags correctly to create your vision. You can use anything from a rudimentary text editor to a powerful graphical editor to create HTML pages.</p>
		</div>
		<img id="what-is-html" src="/img/what-is-html.jpg" alt="what-is-html">
		
<% include partials/footer.ejs %>