<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fullstack Development</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<meta charset="UTF-8">
</head>
<body>
	<header>
		<h1> Fullstack Web Development</h1>
		<img class="head_img" src="/img/html.png" alt="html5_logo">
		<img class="head_img" src="/img/css.png" alt="css_logo">
		<img class="head_img" src="/img/js.png" alt="js_logo">
    </header>

	<hr/>

	<nav>
		<a href="/">Home</a>
		<a href="/html">HTML</a>
		<a href="/css">CSS</a>
		<a href="/js">JS</a>
	</nav>
	<br/>
	<main>
		<div>
			<h2>What is fullstack web development?</h2>
			<p>A full stack web developer is a person who can develop both client and server software.</p>
			<p>In addition to mastering HTML and CSS, he/she also knows how to:</p>

			<div class="container">
				<ul>
				<li><mark>Program a browser</mark></li>
				<li><mark>Program a server</mark></li>
				<li><mark>Program a database</mark></li>
				</ul>
 				<img id="fullstack_sticker" src="/img/fullstack.png" alt="fullstack_img">
			</div>
			<p><strong>HTML</strong> is the markup language that we use to structure and give meaning to our web content, for example defining paragraphs, headings, and data tables, or embedding images and videos in the page.</p>

			<p><strong>CSS</strong> is a language of style rules that we use to apply styling to our HTML content, for example setting background colors and fonts, and laying out our content in multiple columns.
			</p>
			<p><strong>JavaScript</strong> is a scripting language that enables you to create dynamically updating content, control multimedia, animate images, and pretty much everything else.</p>
		</div>
	</main>
	<p>Sources used to develop this site:</p>
	<ul>
		<li><a href="https://skillcrush.com/2012/04/03/css/">The Ultimate Guide To CSS</a></li>
		<li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript">MDN: What is JavaScript?</a></li>
		<li><a href="https://www.w3.org/standards/webdesign/htmlcss">What is HTML?</a></li>
	</ul>
<hr/>
	<footer>
		<div>
            CST336 Internet Programming. 2019&copy; Jasper Kolp <br/>
            <strong>Disclaimer: </strong>The information in this webpage is fictitious. <br/>
            It is used for academic purpose only.
            </div>

            <figure>
            	<img src="/img/csumb.png" alt="csumb_logo">
            </figure>
	</footer>
</body>
</html>